streamlit
crewai[tools]
litellm==1.73.0
pandas
plotly
python-dotenv
tavily-python
instructor
pysqlite3-binary

# Optional for Gemini only
# langchain-google-genai  # Se você decidir voltar para o Gemini no futuro

# Dev
tox
black
isort
pytest
